# Angular
/prototype/smarthome-orchestrator/.angular/
/prototype/smarthome-orchestrator/node_modules/
/prototype/smarthome-orchestrator/dist/
/prototype/smarthome-orchestrator/coverage/

# IDE
.idea/
.vscode/

# Local docs (never upload to git)
localDocs/*
!localDocs/.gitkeep
